*{
  box-sizing: border-box;
  font-weight: bold;
  margin: 0px; 
  padding-top: 0px;
  font-family: monospace;
  font-weight: 800;
}   

body {
  text-align: center;
  background:rgb(48, 48, 48);
  color:white;
  overflow: hidden;
  touch-action: none;
  font-weight: bold;
  user-select: none;
}

.container{
  max-width: 420px;
  margin: auto;
  padding: 20px;
  padding-top: 50px;
}

h1{
  font-size: 22px;
  margin-bottom:30px;
}

h2{
  font-size: 16px;
  margin-bottom: 5px;
}

p{
  margin-bottom: 30px;
}

.flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.flex div {
  flex: 1; 
  font-size: 28px;
}

#board{
  overflow: overlay;
  background:rgb(80, 47, 47);
  border-radius: 5px;
  border: solid 2pxrgb(0, 0, 0);
  margin-left: -2px;
  box-sizing: content-box;
}

#duplicateboard{
  overflow: overlay;
  background: #252f50;
  border-radius: 5px;
  border: solid 2px #20253a;
  margin-left: -2px;
  box-sizing: content-box;
  margin-bottom: calc(-100% - 2px);
}


.square {
  float:left;
  display: inline-block;
  aspect-ratio: 1 / 1;
  background-color:rgb(61, 136, 0);
  border:2px solid #20253b;
}

.duplicatesquare {
  float:left;
  display: inline-block;
  aspect-ratio: 1 / 1;
  background-color: #252f4f;
  border:2px solid #20253b;
}


.square:not(.empty) {
  background-size: cover;
  background-repeat: no-repeat; 
}

#points {
  position: absolute;
  display: none;
  color:white;
  z-index: 999;   
  text-shadow: 0 0 5px black, 0 0 10px black;
  font-size: 34px;
  text-align: center;
}

#pieces {
  display: flex;
  justify-content: center;
}

#piece{
  border-top: 80px solid transparent;
  border-bottom: 80px solid transparent;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  box-sizing: content-box;
  cursor: grab; 
}

.horizontal{
  margin-top:-30px;
}

.vertical {
  margin-top: 20px;
}

.first {
  aspect-ratio: 1 / 1;     
  border:px solid #20253b;
  background-size: cover;
}

.second{
  position: absolute;
  width: 100%;
  aspect-ratio: 1 / 1;     
  border:px solid #20253b;
  background-size: cover;
}

.horizontal div span {
  top: 0px;
  left: calc(100% - 4px);
}

.vertical div span {
  top: calc(-100% + 4px);
  left: 0px;
}

.highlight {
  filter: brightness(160%);
}

#gameover {
  margin-top: 30px;
}

#restart {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  background-color: lightblue;
  border: none;
  border-radius: 5px;
}


@keyframes pop {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

.pop {
  animation: pop 0.4s forwards;
  background-size: cover;
  background-color: transparent;
  border:none;
}

.ui-draggable-dragging {
  cursor: grabbing!important;
}

.hidden{
  display: none!important;
}

.modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:#00000082;
  z-index: 999;
}

.modalinner{
  width:90%;
  max-width: 425px;
  margin: auto;
  margin-top: 160px;
  max-height: 420px;
  padding: 20px;
  color:black;
  background: white;
  position: relative;
  text-align: left;
  overflow-y: scroll;
  border-radius: 0px;
  font-size: 18px;
}

.modal .close{
  float: right;
  position: sticky;
  top: -20px;
  cursor: pointer;
  padding: 20px;
  margin-top: -20px;
  margin-right: -20px;
  font-size: 24px;
  margin-bottom: -42px;
}

.togglemodal{
  cursor: pointer;
}

table{
  width:100%;
}

td{
  padding-bottom: 10px;
}

.attempts{
  font-weight: bold
}